<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			    <rule name="dd22j2" stopProcessing="true">
                    <match url="^5[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="wap2.php" appendQueryString="true" />
                </rule>
                
                <rule name="dd22" stopProcessing="true">
                    <match url="^6[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd22.php" appendQueryString="true" />
                </rule>
			
                <rule name="dd11j" stopProcessing="true">
                    <match url="^4[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd11j.php" appendQueryString="true" />
                </rule>
                
                
                <rule name="dd21j" stopProcessing="true">
                    <match url="^7[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd21j.php" appendQueryString="true" />
                </rule>
                
                
                <rule name="dd22j1" stopProcessing="true">
                    <match url="^[^/]+/([^/]+)/[^/]+/([^/]+)/[^/]+/([^/]+)/?(\d+)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="wap1.php?u={R:1}&amp;s={R:2}&amp;f={R:3}&amp;wx={R:4}" />
                </rule>
                

				
				<rule name="dd22test" stopProcessing="true">
                    <match url="^7[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd22test.php" appendQueryString="true" />
                </rule>
				
				
				<rule name="dd11" stopProcessing="true">
                    <match url="^0[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd11.php" appendQueryString="true" />
                </rule>
				
				<rule name="dd11_d" stopProcessing="true">
                    <match url="^9[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd11_d.php" appendQueryString="true" />
                </rule>
				
                
                <rule name="dd12j" stopProcessing="true">
                    <match url="^1[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd12j.php" appendQueryString="true" />
                </rule>
                
                <rule name="dd12" stopProcessing="true">
                    <match url="^2[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd12.php" appendQueryString="true" />
                </rule>
                
                <rule name="dd21" stopProcessing="true">
                    <match url="^3[a-zA-Z0-9]+/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dd21.php" appendQueryString="true" />
                </rule>
                
				
				
			</rules>
        </rewrite>
    </system.webServer>
</configuration>
