* {
    margin: 0;
    padding: 0;
	word-break:break-all;word-wrap:break-word;
}
ol,ul,li{list-style-type:none; }
img{border:0px; vertical-align:middle;}
form {margin:0px;padding:0px;}
.clear { height:0px; clear: both; overflow:hidden; }
.clear10 { height:10px; clear: both; overflow:hidden; }
.mr0 { margin-right:0px !important; }
.wei { border-bottom:none !important; }
select ,input {font-family:"Microsoft YaHei";}
.orange { color:#ff6800 !important;}
.green { color:#447e00 !important;}
.red { color:#e30000 !important;}
.f18 { font-size:18px !important;}
.f16 { font-size:16px !important;}
.f14 { font-size:14px !important;}
.f12 { font-size:12px !important;}
.mb5 { margin-bottom:5px;}
.ml42 { margin-left:42px;}

body {
    font-size: 12px;
    line-height: 24px;
    color: #000;
	background:#f1f2f7;
	font-family:"Microsoft YaHei";
}
a { text-decoration: none; color: #000;}
a:hover { text-decoration: none; color:#52900a;}

#wrap { min-width:1220px; }

#header { height:100px; background:url(../images/topbg.png) center top; }

/*顶部*/

.topbox { width:1024px; margin:0px auto; }

.logo { float:left; width:500px; }
.logo img{ height:100px; }
.toptel { float:right; background:url(../images/toptel.png) left top no-repeat; margin-top:20px; padding-left:54px; width:215px; text-align:center; color:#fff; padding-top:13px; height:60px;}
.toptel b{ font-size:28px; font-family:"Microsoft YaHei",Arial; font-weight:normal; line-height:28px;}

/*主体*/

#mainer { width:1024px; margin:0px auto; padding:26px 0px 56px 0px; zoom:1; }

.main { background:url(../images/line.gif) left top repeat-y #fdfdfd; border:1px #e6e6e6 solid; border-left:none; zoom:1; }
.mainl { float:left; width:209px; padding-bottom:50px;}
.mainr { float:right; background:#fff; width:804px; padding:5px; min-height:750px; zoom:1;}


.lnavt { border-bottom:1px #e6e6e6 solid; height:90px; background:url(../images/home.png) 30px center no-repeat #52900a; padding-left:71px; color:#fff; line-height:89px; font-size:20px;}
.lnav { position:relative;}
.lnav ul li{ border-bottom:1px #e6e6e6 solid; }
.lnav ul li a{ display:block; height:64px; line-height:64px; text-align:center; font-size:16px; color:#000;}
.lnav ul li a:hover{ color:#52900a;}
.lnav ul li i{ display:none; position:absolute; right:0px; top:-1px; background:url(../images/lnav_line.png) right bottom no-repeat; width:11px;}
.lnav ul li.t1 i{ height:65px;}
.lnav ul li.t2 i{ height:130px;}
.lnav ul li.t3 i{ height:195px;}
.lnav ul li.t4 i{ height:260px;}
.lnav ul li.t5 i{ height:325px;}
.lnav ul li.t6 i{ height:390px;}
.lnav ul li.t7 i{ height:455px;}
.lnav ul li.t8 i{ height:520px;}
.lnav ul li.t9 i{ height:585px;}
.lnav ul li.on a{ color:#52900a;}
.lnav ul li.on i{ display:block;}

.rtit { height:58px; line-height:57px; padding:0px 18px 0px 16px; background:#f5f5f5; font-size:20px; color:#000;}
.rtit a{ float:right; margin-left:17px; height:58px; line-height:58px; color:#5e5e5e; font-size:16px; padding-left:43px;}
.rtit a:hover{ color:#52900a; }
.rtit .t1{ background:url(../images/b7.png) left center no-repeat;}
.rtit .t2{ background:url(../images/b8.png) left center no-repeat; padding-left:34px;}
.rtit .t3{ background:url(../images/b9.png) left center no-repeat; padding-left:34px;}
.rcon { padding:38px 28px; font-size:14px; color:#424242; line-height:1.8;}
.rcon2{ line-height:2.2}

.page-fencheng { background:url(../images/liucheng/l1.png) 20px top repeat-y; margin:0px 31px 50px 31px; padding-top:52px;}
.page-fencheng .tit { height:45px; position:relative; padding-left:52px; zoom:1; font-size:18px; color:#ff5b00; line-height:45px;}
.page-fencheng .tit .num{ width:45px; height:45px; line-height:45px; text-align:center; position:absolute; left:0px; top:0px; color:#457f01; font-size:20px; font-style:normal; font-family:Arial; background:url(../images/liucheng/l2.png) no-repeat;}
.page-fencheng .con{ padding-left:52px; background:url(../images/liucheng/l1.png) 20px -20px repeat-y; font-size:14px; color:#4a4a4a; line-height:30px; padding-bottom:20px; }
.page-fencheng .con a{ color:#447e00; }
.page-fencheng .con img{ margin:10px 0px; width:710px;}
.page-fencheng .con i{ font-style:normal;}

.reg_main { background:#fff; border:1px #e6e6e6 solid; zoom:1; padding:5px; }
.reg_main_t { height:64px; background:#f5f5f5; line-height:64px; padding:0px 20px;}
.reg_main_t .l{ float:left; background:url(../images/regb.png) left center no-repeat; height:64px; padding-left:58px; font-size:20px;}
.reg_main_t .r{ float:right; text-align:right; font-size:14px;}

.reg_main_m { padding:32px 0px 32px 0px; font-size:16px; }
.reg_main_m td{ text-align:left; }
.reg_main_m .tip{ font-size:14px; color:#424242; }
.reg_main_m .input{ font-size:14px; border:1px #c3c3c3 solid; width:232px; height:40px; padding:0px 10px; }
.reg_main_m .t{ text-align:right; padding-right:10px; width:120px; }
.reg_main_m .btn{ font-size:18px; border:none; width:124px; height:42px; line-height:42px; text-align:center; background:#ff6d00; color:#fff; cursor:pointer;}
.reg_main_m .btn:hover{ background:#c35402; color:#fff;}


.unav {}
.unav ul li{ border-bottom:1px #e6e6e6 solid; position:relative; }
.unav ul li .t{ display:block; height:85px; line-height:84px; padding-left:70px; text-align:left; font-size:16px; color:#000; background:url(../images/unavb.gif) 190px center no-repeat;}
.unav ul li .t:hover{ background:url(../images/unavbs.gif) 190px center no-repeat #52900a; color:#fff;}
.unav ul li i{ position:absolute; left:22px; top:23px; width:40px; height:40px; background: url(../images/unav.png) no-repeat;}
.unav ul li.t1 i{ background-position:0px 2px;}
.unav ul li.t2 i{ background-position:0px -113px;}
.unav ul li.t3 i{ background-position:0px -214px;}
.unav ul li.t4 i{ background-position:0px -323px;}
.unav ul li.t5 i{ background-position:0px -427px;}
.unav ul li.t6 i{ background-position:0px -535px;}
.unav ul li.t7 i{ background-position:0px -641px;}
.unav ul li.t8 i{ background-position:0px -750px;}

.unav ul li.t1 .t:hover i{ background-position:-54px 2px;}
.unav ul li.t2 .t:hover i{ background-position:-54px -113px;}
.unav ul li.t3 .t:hover i{ background-position:-54px -214px;}
.unav ul li.t4 .t:hover i{ background-position:-54px -323px;}
.unav ul li.t5 .t:hover i{ background-position:-54px -427px;}
.unav ul li.t6 .t:hover i{ background-position:-54px -535px;}
.unav ul li.t7 .t:hover i{ background-position:-54px -641px;}
.unav ul li.t8 .t:hover i{ background-position:-54px -750px;}

.unav ul li.t1 a.on i{ background-position:-54px 2px;}
.unav ul li.t2 a.on i{ background-position:-54px -113px;}
.unav ul li.t3 a.on i{ background-position:-54px -214px;}
.unav ul li.t4 a.on i{ background-position:-54px -323px;}
.unav ul li.t5 a.on i{ background-position:-54px -427px;}
.unav ul li.t6 a.on i{ background-position:-54px -535px;}
.unav ul li.t7 a.on i{ background-position:-54px -641px;}
.unav ul li.t8 a.on i{ background-position:-54px -750px;}

.unav ul li a.on{ background:url(../images/unavbs.gif) 190px center no-repeat #52900a; color:#fff;}
.unav ul li a.on i{ display:block;}

.unav ul li.t1 .t { font-size:18px; height:107px; line-height:107px;}
.unav ul li.t1 .t i{ top:33px;}
.unav ul li.t8 .t { font-size:18px;}

.unav ul li div { padding:16px 0px 16px 17px;}
.unav ul li div a{ display:block; width:176px; height:43px; line-height:43px; padding-left:54px; color:#8f8f8f; font-size:12px;}
.unav ul li div a.ons{ background:url(../images/unavs.png) left center no-repeat; font-weight:bold; color:#346a07;}
.unav ul li div a:hover{ color:#346a07;}


.rbox_t { height:44px; line-height:44px; padding-left:56px; font-size:18px; border:1px #e6e6e6 solid; background: url(../images/b2.png) no-repeat #f8f8f8; }
.rt1 { background-position:24px 0px; }
.rt2 { background-position:24px -44px; }
.rt3 { background-position:18px -88px; }
.rt4 { background-position:19px -132px; }
.rt5 { background-position:19px -176px; }
.rt6 { background-position:19px -220px; }

.rbox_m { font-size:14px; color:#424242;}
.rbox_m2 { font-size:14px; color:#424242; padding:25px 35px;}
.rbox_m2 p{line-height:30px;}

.rbox1 { border:1px #e6e6e6 solid; background:#f8f8f8; padding:8px 30px; font-size:16px; color:#6c6c6c; line-height:30px; margin-bottom:20px;}

.rbox2 { height:580px; padding:0px 5px;}
.rbox2 ul li{ float:left; height:225px; padding-top:29px; text-align:center;}
.rbox2 ul li.t1{ width:262px; border-bottom:1px #e6e6e6 solid; }
.rbox2 ul li.t2{ width:262px; border-bottom:1px #e6e6e6 solid; }
.rbox2 ul li.t3{ width:260px; border-bottom:1px #e6e6e6 solid; }
.rbox2 ul li.t4{ width:294px; }
.rbox2 ul li.t5{ width:500px; }
.rbox2 ul li .img{ display:block; margin:0px auto; width:98px; height:98px; background:url(../images/b1.png) no-repeat;}
.rbox2 ul li.t1 .img{ background-position:0px 0px; }
.rbox2 ul li.t2 .img{ background-position:-299px 0px; }
.rbox2 ul li.t3 .img{ background-position:right 0px; }
.rbox2 ul li.t4 .img{ background-position:left bottom; }
.rbox2 ul li.t5 .img{ background-position:right bottom; }
.rbox2 ul li .t{ display:block; padding-top:13px; font-size:20px; line-height:36px; text-align:center;}
.rbox2 ul li .m{ display:block; font-size:13px; line-height:22px; text-align:center; color:#424242;}
.rbox2 ul li .m span{ color:#ff9700;}
.rbox2 ul li.t5 .m{ font-size:12px; }

.rbox3 { padding:12px 29px 22px 29px;}
.rbox3_t { font-size:16px; color:#424242; height:56px; line-height:56px; padding-left:5px;}
.rbox3_t2 { font-size:16px; color:#ff8b35; height:56px; line-height:56px; }
.rbox3_t a.r{ font-size:18px; float:right; margin-right:61px;}
.rbox3_m { height:68px; }
.rbox3_m .input{ float:left; height:48px; line-height:48px; width:542px; padding:0px 15px; border:1px #bfbfbf solid; font-size:14px; }
.rbox3_f { font-size:14px; color:#8a8a8a; line-height:27px; }
.rbox3_f .t{ font-size:18px; color:#5b990c; margin-bottom:5px; }
.rbox3_f .m{padding-left:12px; padding-bottom:10px; color:#666;}
.rbox3 .btn{ display:inline-block; height:42px; line-height:42px; width:159px; text-align:center; border:none; font-size:16px; color:#fff; background:#ff6d00; cursor:pointer; }
.rbox3 .btn:hover{ color:#fff; background:#bf5b11; }
.rbox3_m .btn{ float:right; height:50px; line-height:50px;}


.rbox4 { margin-bottom:13px; height:49px; background:#f5f5f5; line-height:34px; padding:15px 25px 0px 25px;}
.rbox4_t { float:left; font-size:20px; width:150px;}
.rbox4_l { float:left; width:149px; background:#fff; height:34px; position:relative;}
.rbox4_l .t{ padding-left:13px; height:32px; line-height:32px; font-size:14px; color:#818181; border:1px #e5e5e5 solid; background:url(../images/b6.gif) 122px center no-repeat; cursor:pointer;}
.rbox4_l .m{ display:none; position:absolute; background:#fff; border:1px #e5e5e5 solid; border-bottom:none; left:0px; top:32px; width:147px; }
.rbox4_l .m a{ display:block; padding-left:13px; height:32px; line-height:32px; font-size:14px; color:#818181; border-bottom:1px #e5e5e5 solid; }
.rbox4_l .m a:hover{ color:#fe934a; }
.rbox4_m { float:left; padding-left:11px;}
.rbox4_m a{ color:#ff8b35; font-size:14px;}
.rbox4_m a:hover{ color:#000;}
.rbox4_r { float:right; border:1px #e5e5e5 solid; height:32px; width:260px;}
.rbox4_r .input{ float:left; border:none; background:#fff; line-height:32px; padding:0px 15px; height:32px; width:170px; color:#818181; font-size:14px;}
.rbox4_r .btn{ float:right; border:none; background:url(../images/searbtn.png) no-repeat; line-height:132px; width:60px; height:32px; overflow:hidden; cursor:pointer;}
.rbox4_r .btn:hover{ opacity:0.8; }


.prolist { padding-left:3px;}
.prolist ul li{ float:left; margin-right:14px; margin-bottom:15px; width:239px; height:361px; padding:11px 7px 0px 7px; border:1px #e9e8e9 solid; border-right:3px #e9e8e9 solid; border-bottom:3px #e9e8e9 solid; overflow:hidden; }
.prolist ul li .img{ display:block; margin:0px auto; width:225px; height:138px; }
.prolist ul li .t{ display:block; height:54px; line-height:53px; font-size:16px; color:#ff8b35; text-align:center; overflow:hidden; }
.prolist ul li .t:hover{  color:#447e00; }
.prolist ul li .m{ display:block; height:41px; line-height:22px; font-size:12px; color:#52900a; text-align:center; overflow:hidden; }
.prolist ul li .m img{ vertical-align:middle; margin-bottom:5px; }
.prolist ul li .m2{ display:block; height:70px; padding:0px 7px; line-height:18px; font-size:12px; color:#666; text-align:left; overflow:hidden; border-bottom:1px #bfbfbf dashed; }
.prolist ul li .m2 b { color:#444; font-weight:normal; font-size:13px;}
.prolist ul li .f{ display:block; height:35px; padding:14px 3px 0px 3px; line-height:30px; font-size:14px; color:#ff4e00; text-align:left; overflow:hidden; }
.prolist ul li .f .btn{ display:block; float:right; height:26px; width:49px; text-align:left; padding-left:10px; line-height:26px; font-size:14px; background:url(../images/b5.gif) 46px center no-repeat; border:1px #959595 solid; overflow:hidden; }
.prolist ul li:hover{ border:1px #d7d6d7 solid; border-right:3px #d7d6d7 solid; border-bottom:3px #d7d6d7 solid; }


.pro_top { padding:27px 0px;}
.pro_top_l { float:left; width:390px; padding-left:27px;}
.pro_top_l img{ float:left; width:400px;}
.pro_top_r { float:right; width:400px; padding-right:60px; padding-top:56px;}
.pro_top_r .t{ text-align:center; font-size:22px;}
.pro_top_r .f{ text-align:center; font-size:20px; color:#61a413; margin:10px 0px 13px;}
.pro_top_r .m{ text-align:left; font-size:18px; line-height:24px; color:#ff6d00; height:70px; overflow:hidden; text-indent:1.5em;}
.pro_top_r2 { float:right; width:400px; padding-right:60px; padding-top:22px;}
.pro_top_r2 .t{ text-align:left; font-size:22px; line-height:50px;}
.pro_top_r2 .m{ text-align:left; font-size:18px; line-height:24px; color:#ff6d00; }
.pro_top_r2 .price{ text-align:left; font-size:18px; line-height:24px; color:#c20000; padding-top:24px;}
.pro_top_r2 .sku_ul{ padding-top:30px;}
.pro_top_r2 .sku_ul li{ float:left; margin-right:20px;}
.pro_top_r2 .sku_ul li a{ display:inline-block; width:99px; height:42px; line-height:42px; text-align:center; font-size:18px; color:#4f4f4f; background:url(../images/b10.png) right top no-repeat; cursor: pointer;}
.pro_top_r2 .sku_ul li a:hover{ color:#ff6d00;}
.pro_top_r2 .sku_ul li a.sku_cur{ color:#fff; background:url(../images/b10.png) left top no-repeat;}

.pro_info { padding:0px 3px; margin-bottom:27px; }
.pro_info td{ text-align:center; }

.rbox8 .select3 { float:left; height:42px; width:228px; position:relative; }
.rbox8 .select3 i{ position:absolute; right:1px; top:1px; background:url(../images/b6.gif) center center no-repeat #fff; width:38px; height:38px; }
.rbox8 { padding:30px; line-height:42px;}
.rbox8 .select3 select{ float:left; height:40px; line-height:40px; width:228px; padding:0px 15px; border:1px #bfbfbf solid; font-size:14px; }
.rbox8 .tit { float:left; width:183px; text-align: right; font-size:16px; color:#000; padding-right:22px;}
.rbox8 .input{ float:left; height:40px; line-height:40px; width:258px; padding:0px 15px; border:1px #bfbfbf solid; font-size:14px; }
.rbox8 .btn{ float:right; height:42px; line-height:42px; width:119px; text-align:center; border:none; font-size:16px; color:#fff; background:#5b990c; cursor:pointer; }
.rbox8 .btn:hover{ color:#fff; background:#437206; }
.rbox8 .f{ color:#797979; font-size:14px; }

.rbox9 { padding:30px;}
.rbox9_t { height:68px;}
.rbox9_t a{ display:inline-block; width:99px; height:42px; line-height:42px; text-align:center; margin-right:20px; font-size:18px; color:#4f4f4f; background:url(../images/b10.png) right top no-repeat;}
.rbox9_t a:hover{ color:#ff6d00;}
.rbox9_t a.on{ color:#fff; background:url(../images/b10.png) left top no-repeat;}

.rbox9_m { line-height:42px; font-size:14px; color:#ff0000;}
.rbox9_m .input{ height:40px; line-height:40px; width:476px; padding:0px 15px; border:1px #bfbfbf solid; font-size:14px; margin-right:17px; }

.rbox9_f { font-size:14px; color:#757575; padding-top:10px;}
.rbox9_f b{ color:#5b990c; font-weight: normal;}
.rbox9_f a{ color:#757575;}
.rbox9_f a:hover{color:#ff6d00; text-decoration:underline;}

.rbox5 { padding:46px 0px 26px 0px;}
.rbox5 .item{ height:63px;}
.rbox5 .item .tit{ float:left; width:125px; padding-right:10px; text-align:right; font-size:16px; line-height:42px;}
.rbox5 .item .input{ float:left; width:447px; padding:0px 15px; text-align:left; font-size:16px; line-height:40px; height:40px; border:1px #d2d2d2 solid;}
.rbox5 .item .input2{ float:left; width:191px; padding:0px 15px; text-align:left; font-size:16px; line-height:40px; height:40px; border:1px #d2d2d2 solid;}
.rbox5 .item .input_date1{ float:left; width:185px; padding:0px 15px; text-align:left; font-size:16px; line-height:42px; height:42px; border: none; background:url(../images/date_input1.png) no-repeat;}
.rbox5 .item .tip1{ float:left; width:49px; text-align:center; line-height:42px; font-size:16px; color:#5e5e5e;}
.rbox5 .item .btn{ float:left; margin-left:23px; height:42px; line-height:42px; width:118px; text-align:center; border:none; font-size:18px; color:#fff; background:#ff8b35; cursor:pointer; }
.rbox5 .item .btn:hover{ color:#fff; background:#bf5b11; }


.select2{ float:left; width:221px; border:1px #d2d2d2 solid; line-height:40px; height:40px; z-index:99; position:relative; color:#424242; font-size:14px;}
.select2 .selectbox { width:206px; padding-left:15px; overflow:hidden; height:40px; line-height:40px; border:none; cursor:pointer; color:#424242; text-align:left; background:url(../images/b6.gif) 193px center no-repeat; font-size:14px;}
.select2 .selectbox-wrapper { position:absolute; background:#fff; border:1px #d2d2d2 solid; border-bottom:none; left:-1px; top:40px; z-index:999;}
.select2 .selectbox-wrapper ul li { cursor:pointer; height:32px; line-height:32px; width:206px; padding-left:15px; text-align:left; border-bottom:1px #d2d2d2 solid;}
.select2 .selectbox-wrapper ul li:hover ,.tsear .select .selectbox-wrapper ul li.selected { color:#fe934a; }
.select2:hover{ z-index:999; }

.select1 { float:left; width:479px; background:#fff; height:42px; position:relative;}
.select1 .t{ padding-left:15px; height:40px; line-height:40px; font-size:16px; color:#424242; border:1px #d2d2d2 solid; background:url(../images/b6.gif) 443px center no-repeat; cursor:pointer;}
.select1 .m{ display:none; position:absolute; background:#fff; border:1px #d2d2d2 solid; border-bottom:none; left:0px; top:41px; width:477px; }
.select1 .m a{ display:block; padding-left:15px; height:32px; line-height:32px; font-size:14px; color:#424242; border-bottom:1px #d2d2d2 solid; }
.select1 .m a:hover{ color:#fe934a; }

/* 商品详情 渠道下拉 */
.select4 { float:left; width:259px; background:#fff; height:42px; position:relative;}
.select4 .t{ padding-left:15px; height:40px; line-height:40px; font-size:16px; color:#424242; border:1px #d2d2d2 solid; background:url(../images/b6.gif) 223px center no-repeat; cursor:pointer;}
.select4 .m{ display:none; position:absolute; background:#fff; border:1px #d2d2d2 solid; border-bottom:none; left:0px; top:41px; width:257px; }
.select4 .m a{ display:block; padding-left:15px; height:32px; line-height:32px; font-size:14px; color:#424242; border-bottom:1px #d2d2d2 solid; }
.select4 .m a:hover{ color:#fe934a; }

.rlist { padding:0px 3px;}

.rtable { width:100%; border:0px; border-collapse:collapse;}
.rtable th{ font-size:15px; text-align:center; background:#eee; border-left:1px #d2d2d2 solid; font-weight:normal; line-height:24px; padding:10px 13px;}
.rtable th.tl{ border-left:none; }
.rtable td{ font-size:13px; line-height:28px; padding:13px 11px;}
.rtable td a:hover img{ opacity:0.8;}


.rbox6 { padding:20px 4px 0px 4px;}
.rtable2 { width:100%; border:0px; border-collapse:collapse;}
.rtable2 th { border:1px #dcdcdc solid; width:135px; text-align:center; font-size:16px; font-weight:normal; padding:25px 0px; padding-left:30px; vertical-align:top; line-height:29px;}
.rtable2 td { border:1px #dcdcdc solid; padding:18px 20px 18px 83px; font-size:14px; color:#424242; line-height:29px;}

.wuliu_list { margin:-15px 0px;}
.wuliu_list ul li{ line-height:29px; }
.wuliu_list ul li span{ display:inline-block; }
.wuliu_list ul li .t1{ width:192px; }
.wuliu_list ul li .t2{ width:80px; }

.rtable3 { width:100%; border:0px; border-collapse:collapse;}
.rtable3 th{ font-size:15px; text-align:center; background:#eee; border-top:1px #eee solid; border-left:1px #d2d2d2 solid; font-weight:normal; line-height:24px; padding:10px 13px;}
.rtable3 th.tl{ border-left:1px #eee solid;}
.rtable3 td{ font-size:13px; line-height:24px; padding:13px 13px; border:1px #d2d2d2 solid; border-top:none;}
.rtable3 td a:hover img{ opacity:0.8;}

.rtable4 { width:95%; border:0px; border-collapse:collapse; margin:18px auto 0px; }
.rtable4 th{ font-size:15px; text-align:center; background:#eee; border-top:1px #eee solid; border-left:1px #d2d2d2 solid; font-weight:normal; line-height:24px; padding:10px 13px;}
.rtable4 th.tl{ border-left:1px #eee solid;}
.rtable4 td{ font-size:13px; line-height:24px; padding:13px 13px; border:1px #d2d2d2 solid; border-top:none;}

.rbox7 { height:49px; line-height:34px; padding:15px 25px 0px 25px;}
.rbox7_t { float:left; font-size:16px; width:60px;}
.rbox7_r { float:left; padding-left:45px; font-size:20px;}
.rbox7_l { float:left; width:219px; background:#fff; height:34px; position:relative;}
.rbox7_l .t{ padding-left:13px; height:32px; line-height:32px; font-size:14px; color:#818181; border:1px #e5e5e5 solid; background:url(../images/b6.gif) 192px center no-repeat; cursor:pointer;}
.rbox7_l .m{ display:none; position:absolute; background:#fff; border:1px #e5e5e5 solid; border-bottom:none; left:0px; top:32px; width:217px; }
.rbox7_l .m a{ display:block; padding-left:13px; height:32px; line-height:32px; font-size:14px; color:#818181; border-bottom:1px #e5e5e5 solid; }
.rbox7_l .m a:hover{ color:#fe934a; }


.formbox { padding:32px 0px 32px 0px; font-size:16px; }
.formbox td{ text-align:left; }
.formbox .tip{ font-size:14px; color:#424242; }
.formbox .input{ font-size:14px; border:1px #c3c3c3 solid; width:332px; height:40px; padding:0px 10px; }
.formbox .input2{ font-size:14px; border:1px #c3c3c3 solid; width:222px; height:40px; padding:0px 10px; }
.formbox .input3{ font-size:14px; border:1px #c3c3c3 solid; width:720px; height:40px; padding:0px 10px; }
.formbox .select4{ font-size:14px; border:1px #c3c3c3 solid; width:242px; height:40px; padding:0px 10px; margin-right:8px; float:left; }
.formbox .t{ text-align:right; padding-right:10px; width:153px; }
.formbox .btn{ font-size:18px; border:none; width:124px; height:42px; line-height:42px; text-align:center; background:#ff8b35; color:#fff; cursor:pointer;}
.formbox .btn:hover{ background:#c35402; color:#fff;}
.formbox .green { color:#5b990c !important;  }

.tiaokuan{ padding:20px 22px; font-size:14px; color:#424242; }
.tiaokuan p.fu0{font-size:18px; margin-top:15px; color:#f00202; }
.tiaokuan p.fu1{font-size:18px; margin-top:22px; color:#ff6800;}
.tiaokuan p.fu2{font-size:14px; margin-top:22px; text-indent:1em;}
.tiaokuan p.fu3{font-size:14px; margin-top:3px; margin-left:26px;}
.tiaokuan p.ptop{margin-top:5px;}

/*分页*/
.pages { text-align:center; padding:25px 0px; height:30px; font-size:14px;}
.pages a{ display:inline-block; width:28px; height:28px; border:1px #bbb solid; background:#fff; text-align:center; line-height:28px; color:#333; margin:0px 3px;}
.pages span{ display:inline-block; height:28px; color:#333; margin:0px 3px;}
.pages a.a1{ width:78px; }
.pages a:hover ,.pages a.on{ color:#fff; background:#5b990c; border:1px #5b990c solid; }


/*悬浮框*/
.rtool { width:117px; border-top:12px #3d6e03 solid; position:fixed; _position:absolute; top:300px; left:50%; margin-left:522px; z-index:999; background:#fff;}
.rtool .t{ height:61px; line-height:60px; font-size:20px; color:#fff; text-align:center; background:#52900a; }
.rtool .m{ border-left:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; }
.rtool .m ul li{ padding-left:6px; height:34px; line-height:34px; border-bottom:1px #d2d2d2 solid; }
.rtool .m ul li a { display:block; color:#ff6d00;}
.rtool .m ul li a:hover { opacity:0.8;}
.rtool .m ul li .h { color:#949494;}
.rtool .t1 { display:block; color:#737373; height:54px; line-height:54px; font-size:16px; text-align:center; background:#e5e5e5;}
.rtool .t1:hover { background:#d2d2d2; color:#737373;}
.rtool .t2 { display:block; color:#fff; height:54px; line-height:54px; font-size:16px; text-align:center; background:#c9c9c9;}
.rtool .t2:hover { background:#aaa9a9; color:#fff;}

/*底部*/
#footer { background:#e4e4e4; color:#707472; font-size: 14px; zoom:1; padding:27px 0px 20px; }
.fnav { text-align:center; margin-bottom:10px; font-size:16px; color:#2f2f2f; }
#footer a{ color:#2f2f2f; margin:0px 20px; }
#footer a:hover { color:#52900a;}
.fcopy { text-align:center; }
.fcopy a{ color:#707472; }
.fcopy a:hover { color:#52900a;}

/*追加通用*/
.disno{display:none;}

/*产品图片新品样式*/
.newshopa{
	width:68px;
	height:68px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:10;
	background:url(../images/newshop.png) no-repeat;

}
.newshopb{position:relative;}

/*----------分页样式----------*/
.paging{ width:800px;padding-top:0px; padding-bottom:37px; float:left;}
.paging_con{ float:left; padding-top:37px; padding-bottom:37px; padding-left:105px;}
.paging_con a{ float:left; display:block; width:32px; height:27px; background-image:url(../images/paging_img3.jpg); text-align:center; line-height:27px; color:#000; text-decoration:none; margin-right:7px;}
.paging_con a:hover{ background-image:url(../images/paging_img2.jpg); color:#fff;}
.paging_con .a_slect{ background-image:url(../images/paging_img2.jpg); color:#fff;}
.paging_con .con1{ width:62px;}
.paging_con .con2{ width:56px; height:27px; font-style:normal; text-align:center; font-size:12px; color:#fff; line-height:27px; background-image:url(../images/paging_img.jpg); display:block; float:left; margin-right:7px; text-align:center; color:#000;}
.paging_con .con3{ float:left; margin-right:7px;}